*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 100%;
  min-width: 476px;
}
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  display: block;
  padding: 0;
  box-sizing: border-box;
}
header {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  background-color: #fff;
  box-shadow: 0px 3px 16px rgba(38, 38, 38, 0.16);
}
.header__container {
  padding: 0;
  margin: 0 auto;
}
.header__center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
}
.header__center--right {
  display: flex;
  float: right;
}
.header__center--right-buttom {
  display: block;
  height: 2.5rem;
  width: 4.75rem;
  border: solid 1px #1d1d1d;
  background-color: white;
  cursor: pointer;
  font-size: 0.8125rem;
  line-height: 1.5;
  color: #1d1d1d;
}
.header__center--right-buttom:hover {
  background: rgba(38, 38, 38, 0.16);
  box-shadow: inset 0 0 0 3px #fff;
}
main {
  padding: 0;
  margin: 0 auto;
  background-color: #fff;
}
.section1 {
  margin-top: 4.5rem;
  padding-top: 3.75rem;
  border-bottom: 1px solid #757575;
  opacity: 0.3;
}
.section1 input {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  border: none;
  outline: none;
  mix-blend-mode: normal;
  color: #757575;
}
.section2 {
  padding: 4.0625rem 0.5rem 1.25rem 0.5rem;
}
.section2 h2 {
  font-size: 1.375rem;
  line-height: 2.125;
  color: #1d1d1d;
}
.section3 {
  padding-bottom: 4rem;
}
.image {
  padding: 0 0.5rem 2.25rem 0.5rem;
}
.image img {
  width: 100%;
  height: auto;
}
figcaption {
  padding-top: 0.9375rem;
  font-size: 0, 875rem;
  line-height: 1.3125;
  color: #626262;
}
.first-row {
  font-size: 1rem;
  line-height: 1.5;
  color: #1d1d1d;
}
.footer {
  background-color: #262626;
}
.footer__container {
  padding: 0;
  margin: 0 auto;
}
.footer__section1,
.footer__section2,
.footer__section3 {
  border-bottom: 1px solid #f2f2f2;
}
.footer__section1 {
  padding: 3.4375rem 0.5rem 2.5rem 0.5rem;
}
.footer__section2 {
  padding: 2.125rem 0.5rem 3.625rem 0.5rem;
}
.row__first,
.row__second,
.row__third {
  padding: 0;
}
.language,
.lang,
option {
  height: 2.5rem;
  width: 14.1875rem;
  background-color: #3b3b3b;
}
.language {
  padding-bottom: 2.25rem;
}
.lang {
  font-size: 0.8125rem;
  line-height: 0.9375;
  padding-left: 3.125rem;
  background: url(/img/language.svg) 10% 50% no-repeat;
  cursor: pointer;
  color: #fff;
}
.social {
  padding-top: 2.0625rem;
}
.footer__section2 .social-text,
.footer__section2 .social-text a {
  font-size: 1rem;
  line-height: 1.1875;
  color: #49a144;
}
.social-text a:hover {
  color: #fff;
}
ul.social-icons li {
  display: inline;
}
ul.social-icons img:hover {
  border: 1px solid #49a144;
  border-radius: 10%;
}
.footer__section2 p,
.footer__section2 a {
  color: #fff;
  text-decoration: none;
  font-size: 0.8125rem;
  line-height: 0.9375;
  margin: 0;
  padding: 0.8125rem 0rem;
}
.footer__section3 {
  padding: 2.5625rem 0.5rem;
  text-align: center;
}
.footer__section3 .app-store {
  padding-right: 2.5rem;
}
.footer__section4 {
  padding: 2.625rem 0.5rem 2.5rem 0.5rem;
}
.footer__section4 .container,
.footer__section4 .row,
.footer__section4 .col-12,
.footer__section4 p {
  margin: 0;
  padding: 0;
}
.footer__section4 p {
  color: #fff;
  font-size: 0.6875rem;
  line-height: 0.8125;
}
.pointer-fixed {
  position: fixed;
  top: 85%;
  right: 0;
  bottom: 0;
  left: 90%;
}
.pointer-fixed img:hover {
  border-radius: 10%;
}
